@charset "utf-8";
@font-face{
    font-family:"android";
    src: url(media/pacote-projeto-d010/fontes/idroid.otf) format("opentype");
    font-weight: normal;
    font-style: normal;
     /*Em html é id=Em css é #(Um elemento apenas)*/
     /*Em html é class=Em css é .(Varios elementos)*/
}

.imagemMascote{
    width: 100%;
} 

@media (max-width: 800px){
    .imagemMascote{
        content: url("media/imagens/danDroidPq.png");
    }
}

.Irina{
    width: 100%;
    height: 700px;
}

@media (max-width: 800px){
    .irina{
        content: ("media/imagens/criadoraPquena.jpg");
    }
}

body{
    background-color: #7DD6A4;
    margin-top: 0px;
}
/*tons de degrade cabeçalho
 verde clarinho: codigo #39CE7C
 verde escurinho: codigo #1A5C38
*/

.degrade{
    width: 100%;
    height: 175px;
    background: linear-gradient(to bottom, #39CE7C, #1A5C38);
    margin-top: 0px;
    padding-top: 0px;
}

.links{
    display: flex;
    flex-direction: row;
}

div{
    padding: 10px;
    margin: 10px;
}

.espaços{
    margin: 5px;
}

.fonte{
    font-family: "android","times","serif";
    background-color: #D6F1E2;
}

.folha{
    background-color: white;
    box-shadow: 1px, 2px, 4px, 7px black;
}

.fundovideo{
    background-color: #195735;
    width: 97%;
    height: 500px;
}

.video{
    width: 100%;
    height: 100%;
}

span{
    color: #195735;
    font-weight: bold;
}

.centralizado{
    display: block;
    margin: auto;
}

.listas{
    background-color: #BBDFCB;
    margin-top: 0px;
    padding-top: 0px;
}

.barra{
    background-color: #2D9F61;
}
